<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Kotaki detect device</title>
</head>
<body>
    <div class="container-device"></div>
	<script src="js/main.js"></script>
</body>
</html>