<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kotaki</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-padrao" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <div class="profile-userlittlepic"><img src="/imgs/danilo-trindade.jpg" class="img-circle img-responsive" alt=""></div>
          </button>
          <h1>Kotaki</h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes</a>
              <ul id="login-dp" class="dropdown-menu">
                <li>
                  <div class="arrow-up"></div>
                  <a href="faq-client.ejs">Dúvidas frequentes</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prestador de serviço</a>
              <ul id="login-dp" class="dropdown-menu">
                <li>
                  <div class="arrow-up"></div>
                  <a href="#">Dúvidas frequentes</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contato</a>
              <ul id="login-dp" class="dropdown-menu">
                <li>
                  <div class="arrow-up"></div>
                  <div class="row">
                    <div class="col-md-12">
                      Fale conosco
                      <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                        <div class="form-group">
                          <label class="sr-only" for="exampleInputEmail2">Assunto</label>
                          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="assunto" required>
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="exampleInputPassword2">Mensagem</label>
                          <textarea class="form-control" id="exampleInputPassword2" rows="3" placeholder="mensagem"></textarea>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <span class="caret"></span></a>
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Minha conta</b> <span class="caret"></span></a>-->
              <ul id="login-dp" class="dropdown-menu">
                <li>
                  <div class="row">
                    <div class="col-md-12">
                      Login via
                      <div class="social-buttons">
                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                      </div>
                      ou
                      <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                        <div class="form-group">
                          <label class="sr-only" for="exampleInputEmail2">Email</label>
                          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="exampleInputPassword2">Senha</label>
                          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Senha" required>
                          <div class="help-block text-right forget-pass"><a href="">Esqueceu a senha?</a></div>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                        <div class="checkbox">
                          <label class="connected">
                            <input type="checkbox"> mantenha-me conectado
                          </label>
                        </div>
                      </form>
                    </div>
                    <div class="bottom text-center join-us">
                      Novo aqui? <a href="#">Junte-se a nós</a>
                    </div>
                  </div>
                </li>
              </ul>
              <ul id="profile-dp" class="dropdown-menu hidden">
                <li>
                  <div class="profile-userpic">
                    <img src="/imgs/danilo-trindade.jpg" class="img-circle img-responsive" alt="">
                  </div>
                  <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                      Danilo Trindade
                    </div>
                    <div class="profile-usertitle-job">
                      Desenvolvedor
                    </div>
                    <div class="text-center">
                      <a href="https://www.facebook.com/"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
                      <a href="https://twitter.com/"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
                      <a href="https://plus.google.com/"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
                      <a href="mailto:chapolin@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
                    </div>
                  </div>
                  <div class="profile-usermenu">
                    <ul class="nav">
                      <li class="active">
                        <a href="#"><i class="glyphicon glyphicon-home"></i> Visão geral</a>
                      </li>
                      <li>
                        <a href="#"><i class="glyphicon glyphicon-user"></i> Configurações</a>
                      </li>
                      <li>
                        <a href="#"><i class="glyphicon glyphicon-star"></i> Favoritos</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="page-content">
      <div class="stepwizard">
        <div class="stepwizard-row">
          <div class="stepwizard-step">
            <div class="btn btn-primary btn-circle">1</div>
          </div>
          <div class="stepwizard-step">
            <div class="btn btn-default btn-circle">2</div>
          </div>
          <div class="stepwizard-step">
            <div class="btn btn-default btn-circle">3</div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div id="first-step" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 prefetch-step-1">
                <h2>Qual serviço vai usar?</h2>
                <div class="content-message">
                  <form class="first-step">
                    <span class="warning-message"></span>
                    <span class="arrow-down-message"></span>
                    <input name="_service" class="typeahead form-control form-padrao input-lg" type="text">
                    <button type="button" class="btn btn-lg btn-primary btn-block btn-verde btn-step-2">Buscar</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h2>Serviços em destaque</h2></div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a class="promotion" href="#">
                  <div class="heading">
                    <h4 class="title">Cambagem por R$ 22,00</h4>
                  </div>
                </a>
                <a class="promotion" href="#">
                  <div class="heading">
                    <h4 class="title">Diarista por R$ 35,00</h4>
                  </div>
                </a>
                <a class="promotion" href="#">
                  <div class="heading">
                    <h4 class="title">Banho e tosa por R$ 80,00</h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="second-step" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form class="second-step">
            <fieldset>
              <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h2>Qual valor tem em mãos?</h2>
                  <div class="input-group">
                    <div class="input-group-addon">R$</div>
                    <input type="tel" name="_value" class="form-control form-padrao input-lg input-price money" data-thousands="." data-decimal="," placeholder="0,00">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12 prefetch-step-2">
                  <h2>Em qual cidade?</h2>
                  <div class="form-group">
                    <input name="_place" class="typeahead tt-input form-control form-padrao input-lg" type="text">
                    <button type="button" class="btn btn-lg btn-primary btn-block btn-search btn-step-3">Buscar</button>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div id="third-step" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form class="form-horizontal">
            <fieldset>
              <h2>Balanceamento</h2>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-list-services active">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    <div class="panel-heading" role="tab" id="heading1">
                      <h5 class="panel-title">
                      R$ 22,00 - Caçula de pneus
                      </h5>
                    </div>
                  </a>
                  <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body">
                      <p>Rua Henrique Schaumann 531</p>
                      <p>São Paulo SP</p>
                      <p>05413-020 · Pinheiros</p>
                      <p>+55 (11) 3081-4345</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-list-services">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    <div class="panel-heading" role="tab" id="heading2">
                      <h5 class="panel-title">R$ 26,00 - Della Via</h5>
                    </div>
                  </a>
                  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body">
                      <p>Av. Brigadeiro Luís Antônio 3935</p>
                      <p>São Paulo SP</p>
                      <p>01401-001 · Jardim Paulista</p>
                      <p>+55 (11) 3051-6155</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-list-services">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    <div class="panel-heading" role="tab" id="heading3">
                      <h5 class="panel-title">R$ 26,00 - DPascoal</h5>
                    </div>
                  </a>
                  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body">
                      <p>Av. Brigadeiro Luís Antônio 3935</p>
                      <p>São Paulo SP</p>
                      <p>01401-001 · Jardim Paulista</p>
                      <p>+55 (11) 3051-6155</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-list-services">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    <div class="panel-heading" role="tab" id="heading4">
                      <h5 class="panel-title">R$ 27,00 - Yancar Serviços Automotivo</h5>
                    </div>
                  </a>
                  <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                    <div class="panel-body">
                      <p>Av. Dr. Arnaldo 1203</p>
                      <p>São Paulo SP</p>
                      <p>01255-000 · Perdizes</p>
                      <p>Telefone: +55 (11) 3672-3163</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-list-services">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <div class="panel-heading" role="tab" id="heading5">
                      <h5 class="panel-title">R$ 28,00 - Pneus Rodrigues</h5>
                    </div>
                  </a>
                  <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                    <div class="panel-body">
                      <p>Av. Prof. Francisco Morato 1449</p>
                      <p>São Paulo SP</p>
                      <p>05513-100 · Butantã</p>
                      <p>Telefone: +55 (11) 3721-6818</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <button type="button" class="btn btn-lg btn-primary btn-block btn-search btn-step-1">Pesquisar novo serviço</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>  
      <section id="section-comofunciona" class="hidden-xs hidden-sm section-comofunciona">
        <div class="wrapper-lg">
          <div class="container">
            <div class="row">
              <div class="hidden-xs hidden-sm col-md-12 col-lg-12 center">
                <h3>Encontre o melhor profissional com preço justo.</h3>
                <p>Esse é o nosso objetivo oferecer o melhor profissional, mais próximo de sua localidade e com o preço justo.</p>
              </div>
            </div>
            <div class="row">
              <div class="hidden-xs hidden-sm col-md-4 center">
                <div class="icon-lg">
                  <img src="/imgs/icon-find.png" border="0">
                </div>
                <h4>1. Pesquise qual serviço você quer cotar.</h4>
                <p>Este 1 passo é muito importante porque você procura o serviço que necessita e caso não encontre pode nos ajudar preenchendo os dois passos a seguir para possamos disponibilizar esse serviço em breve.</p>
              </div>
              <div class="hidden-xs hidden-sm col-md-4 center">
                <div class="icon-lg">
                  <img src="/imgs/icon-money.png" border="0">
                </div>
                <h4>2. Você já tem algum valor em mãos?</h4>
                <p>Nesse 2 passo você pode preencher o valor que tenha em mãos e a cidade mesmo que não tenha o serviço em nosso sistema, porque essas informações serão cadastradas e notificadas a nossa equipe.</p>
              </div>
              <div class="hidden-xs hidden-sm col-md-4 center">
                <div class="icon-lg">
                  <img src="/imgs/icon-list.png" border="0">
                </div>
                <h4>3. Escolha o melhor profissional na lista.</h4>
                <p>No 3 passo será exibido o resultado de sua pesquisa e caso não tenhamos o que procura agradecemos o uso do Kotaki, é dessa forma que vamos melhorar sempre a experiência com nosso aplicativo.</p>
              </div>
            </div>
          </div>  
        </div>  
      </section>
      <section id="section-compartilhe" class="hidden-xs hidden-sm section-compartilhe">
        <div class="wrapper-lg">
          <div class="container">
            <div class="row">
              <div class="hidden-xs hidden-sm col-md-4 col-lg-4 center">
                <div class="icon-lg">
                  <img src="/imgs/icon-share.png" border="0">
                </div>  
              </div>
              <div class="hidden-xs hidden-sm col-md-8 col-lg-8">
                <h3>Compartilhe com seus amigos</h3>
                <p>Nosso objetivo é ajudar você a encontrar melhores profissionais, próximos da sua localização e com preço justo, mas também contamos com vocês para compartilhar com seus amigos os benefícios de utilizar o Kotaki.</p>
                <ul class="share-network">
                  <li><a href="#" class="icon-facebook"><img src="/imgs/icon-facebook.png" border="0"></a></li>
                  <li><a href="#" class="icon-twitter"><img src="/imgs/icon-twitter.png" border="0"></a></li>
                  <li><a href="#" class="icon-instagram"><img src="/imgs/icon-instagram.png" border="0"></a></li>
                </ul>
              </div>
            </div>
          </div>  
        </div>  
      </section>
      <section id="section-colabore" class="hidden-xs hidden-sm section-colabore">
        <div class="wrapper-lg">
          <div class="container">
            <div class="row">
              <div class="hidden-xs hidden-sm col-md-8 col-lg-8">
                <h3>Colabore com a comunidade</h3>
                <p>Nos ajude a encontrar os melhores prestadores de serviço, seja qual for a especialidade ele será muito bem-vindo ao Kotaki.</p>
                <a href="#" class="sign-up">cadastre-se</a>
              </div>
              <div class="hidden-xs hidden-sm col-md-4 col-lg-4 center">
                <div class="icon-lg">
                  <img src="/imgs/icon-collaborate.png" border="0">
                </div>  
              </div>
            </div>
          </div>  
        </div>  
      </section>
    </div>  
    <footer class="footer">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <p class="center">© 2015 Kotaki. Todos os direitos reservados.</p>
        </div>
      </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.maskMoney.min.js"></script>
    <script src="js/jquery.maskregex.js"></script>
    <script src="js/main.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/handlebars.js"></script>
    <script src="js/typeahead.bundle.js"></script>
    <script src="js/prefetch.js"></script>
  </body>
</html>