<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Kotaki</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-toggle"> 
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="#">Kotaki</a>
        </div>
        <div id="slidemenu">
            <ul class="nav navbar-nav">
                <li class="active"> 
                    <a href="#">Home</a>
                </li>
                <li class="dropdown"> 
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Minha conta</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Login</li>
                        <li>
                            <form class="navbar-form navbar-right" role="form">
                                <div class="form-group">
                                    <input type="email" placeholder="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="passsword" placeholder="senha" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary">entrar</button>
                            </form>
                        </li>
                        <li class="dropdown-header">Cadastro</li>
                        <li>
                            <form class="navbar-form navbar-right" role="form">
                                <div class="form-group">
                                    <input type="email" placeholder="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="passsword" placeholder="senha" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary">cadastrar</button>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contato</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Fale conosco</li>
                        <li>
                            <form class="navbar-form navbar-right" role="form">
                                <div class="form-group">
                                    <input type="text" placeholder="assunto" class="form-control">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" placeholder="mensagem"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">cadastrar</button>
                            </form>
                        </li>
                    </ul>    
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div id="first-step" class="col-xs-12">
                <form class="first-step">
                <fieldset>
                <div class="form-group">
                    <div class="col-xs-12 prefetch-step-1">
                        <h2>Qual serviço vai usar?</h2>
                        <div class="content-message">
                        	<span class="warning-message"></span>
	            			<span class="arrow-down-message"></span>
	            			
                        	<input name="_service" class="typeahead tt-input form-control input-lg" type="text">
                        	<button type="button" class="btn btn-lg btn-primary btn-block btn-continue btn-step-2">Continuar</button>
                       	</div>
                    </div>
                </div>
                </fieldset>
                </form>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12"><h2>Serviços em destaque</h2></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a class="promotion" href="#">
                                <div class="heading">
                                    <h4 class="title">
                                        Cambagem por R$ 22,00
                                    </h4>
                                </div>
                            </a>
                            <a class="promotion" href="#">
                                <div class="heading">
                                    <h4 class="title">
                                        Diarista por R$ 35,00
                                    </h4>
                                </div>
                            </a>
                            <a class="promotion" href="#">
                                <div class="heading">
                                    <h4 class="title">
                                        Banho e tosa por R$ 80,00
                                    </h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="second-step" class="col-xs-12">
                <form class="second-step">
                <fieldset>
                <div class="form-group">
                    <div class="col-xs-12">
                        <h2>Qual valor tem em mãos?</h2>
                        <div class="input-group">
                            <div class="input-group-addon">R$</div>
                            <input type="tel" name="_value" class="form-control input-lg input-price money" data-thousands="." data-decimal="," placeholder="0,00">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 prefetch-step-2">
                        <h2>Onde?</h2>
                        <div class="form-group">
                            <input name="_place" class="typeahead tt-input form-control input-lg" type="text">
                            <button type="button" class="btn btn-lg btn-primary btn-block btn-search btn-step-3">Buscar</button>
                        </div>
                    </div>
                </div>
                </fieldset>
                </form>
            </div>
            <div id="third-step" class="col-xs-12">
                <form class="form-horizontal">
                <fieldset>
                <h2>Balanceamento</h2>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-list-services active">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            <div class="panel-heading" role="tab" id="heading1">
                                <h4 class="panel-title">
                                    R$ 22,00 - Caçula de pneus
                                </h4>
                            </div>
                        </a>
                        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body">
                                <p>Rua Henrique Schaumann 531</p>
                                <p>São Paulo SP</p>
                                <p>05413-020 · Pinheiros</p>
                                <p>+55 (11) 3081-4345</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-list-services">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            <div class="panel-heading" role="tab" id="heading2">
                                <h4 class="panel-title">
                                    R$ 26,00 - Della Via
                                </h4>
                            </div>
                        </a>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <p>Av. Brigadeiro Luís Antônio 3935</p>
                                <p>São Paulo SP</p>
                                <p>01401-001 · Jardim Paulista</p>
                                <p>+55 (11) 3051-6155</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-list-services">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            <div class="panel-heading" role="tab" id="heading3">
                                <h4 class="panel-title">
                                    R$ 26,00 - DPascoal
                                </h4>
                            </div>
                        </a>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body">
                                <p>Av. Brigadeiro Luís Antônio 3935</p>
                                <p>São Paulo SP</p>
                                <p>01401-001 · Jardim Paulista</p>
                                <p>+55 (11) 3051-6155</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-list-services">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            <div class="panel-heading" role="tab" id="heading4">
                                <h4 class="panel-title">
                                    R$ 27,00 - Yancar Serviços Automotivo
                                </h4>
                            </div>
                        </a>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body">
                                <p>Av. Dr. Arnaldo 1203</p>
                                <p>São Paulo SP</p>
                                <p>01255-000 · Perdizes</p>
                                <p>Telefone: +55 (11) 3672-3163</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-list-services">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            <div class="panel-heading" role="tab" id="heading5">
                                <h4 class="panel-title">
                                    R$ 28,00 - Pneus Rodrigues
                                </h4>
                            </div>
                        </a>
                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                            <div class="panel-body">
                                <p>Av. Prof. Francisco Morato 1449</p>
                                <p>São Paulo SP</p>
                                <p>05513-100 · Butantã</p>
                                <p>Telefone: +55 (11) 3721-6818</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-lg btn-primary btn-block btn-search btn-step-1">Pesquisar novo serviço</button>
                    </div>
                </div>

                </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.maskMoney.min.js"></script>
<script src="js/jquery.maskregex.js"></script>
<script src="js/main.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/handlebars.js"></script>
<script src="js/typeahead.bundle.js"></script>
<script src="js/prefetch.js"></script>
</body>
</html>