<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Kotaki</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-padrao" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <div class="profile-userlittlepic"><img src="/imgs/danilo-trindade.jpg" class="img-circle img-responsive" alt=""></div>
      </button>
      <a class="navbar-brand" href="#">Kotaki</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Contato</b></a>
            <ul id="login-dp" class="dropdown-menu">
                <li>
                     <div class="row">
                        <div class="col-md-12">
                            Fale conosco
                            <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Assunto</label>
                                    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="assunto" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword2">Mensagem</label>
                                    <textarea class="form-control" id="exampleInputPassword2" rows="3" placeholder="mensagem"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                                </div>
                            </form>
                        </div>
                     </div>
                </li>
            </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Minha conta</b> <span class="caret"></span></a>-->
            <ul id="login-dp" class="dropdown-menu">
                <li>
                     <div class="row">
                        <div class="col-md-12">
                            Login via
                            <div class="social-buttons">
                                <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                            </div>
                            ou
                            <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword2">Senha</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Senha" required>
                                    <div class="help-block text-right forget-pass"><a href="">Esqueceu a senha?</a></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                                </div>
                                <div class="checkbox">
                                    <label class="connected">
                                        <input type="checkbox"> mantenha-me conectado
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="bottom text-center join-us">
                            Novo aqui? <a href="#"><b>Junte-se a nós</b></a>
                        </div>
                     </div>
                </li>
            </ul>
            <ul id="profile-dp" class="dropdown-menu hidden">
                <li>
                    <div class="profile-userpic">
                        <img src="/imgs/danilo-trindade.jpg" class="img-circle img-responsive" alt="">
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            Danilo Trindade
                        </div>
                        <div class="profile-usertitle-job">
                            Desenvolvedor
                        </div>
                        <div class="text-center">
                            <a href="https://www.facebook.com/"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
                            <a href="https://twitter.com/"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
                            <a href="https://plus.google.com/"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
                            <a href="mailto:chapolin@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
                        </div>
                    </div>
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                Visão geral </a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Configurações </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-star"></i>
                                Favoritos </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="page-content">
    <div class="container">
        <div class="stepwizard">
            <div class="stepwizard-row">
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-primary btn-circle">1</button>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">2</button>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">3</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="first-step" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 prefetch-step-1">
                        <h2>Qual serviço vai usar?</h2>
                        <div class="content-message">
                            <form class="first-step">
                            	<span class="warning-message"></span>
    	            			      <span class="arrow-down-message"></span>
                                <input name="_service" class="typeahead form-control form-padrao input-lg" type="text">
                            	<button type="button" id="btn-step" class="btn btn-lg btn-primary btn-block btn-verde btn-step-2">Cadastrar</button>
                            </form>
                       	</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h2>Serviços em destaque</h2></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a class="promotion" href="#">
                            <div class="heading">
                                <h4 class="title">
                                    Cambagem por R$ 22,00
                                </h4>
                            </div>
                        </a>
                        <a class="promotion" href="#">
                            <div class="heading">
                                <h4 class="title">
                                    Diarista por R$ 35,00
                                </h4>
                            </div>
                        </a>
                        <a class="promotion" href="#">
                            <div class="heading">
                                <h4 class="title">
                                    Banho e tosa por R$ 80,00
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="second-step" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form class="second-step">
                <fieldset>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>Qual valor tem em mãos?</h2>
                        <div class="input-group">
                            <div class="input-group-addon">R$</div>
                            <input type="tel" name="_value" class="form-control form-padrao input-lg input-price money" data-thousands="." data-decimal="," placeholder="0,00">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 prefetch-step-2">
                        <h2>Onde?</h2>
                        <div class="form-group">
                            <input name="_place" class="typeahead tt-input form-control form-padrao input-lg" type="text">
                            <button type="button" class="btn btn-lg btn-primary btn-block btn-search btn-step-3">Buscar</button>
                        </div>
                    </div>
                </div>
                </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div id="third-step" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form class="form-horizontal">
                <fieldset>
                <h2>Balanceamento</h2>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-list-services active">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            <div class="panel-heading" role="tab" id="heading1">
                                <h4 class="panel-title">
                                    R$ 22,00 - Caçula de pneus
                                </h4>
                            </div>
                        </a>
                        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body">
                                <p>Rua Henrique Schaumann 531</p>
                                <p>São Paulo SP</p>
                                <p>05413-020 · Pinheiros</p>
                                <p>+55 (11) 3081-4345</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-list-services">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            <div class="panel-heading" role="tab" id="heading2">
                                <h4 class="panel-title">
                                    R$ 26,00 - Della Via
                                </h4>
                            </div>
                        </a>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <p>Av. Brigadeiro Luís Antônio 3935</p>
                                <p>São Paulo SP</p>
                                <p>01401-001 · Jardim Paulista</p>
                                <p>+55 (11) 3051-6155</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-list-services">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            <div class="panel-heading" role="tab" id="heading3">
                                <h4 class="panel-title">
                                    R$ 26,00 - DPascoal
                                </h4>
                            </div>
                        </a>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body">
                                <p>Av. Brigadeiro Luís Antônio 3935</p>
                                <p>São Paulo SP</p>
                                <p>01401-001 · Jardim Paulista</p>
                                <p>+55 (11) 3051-6155</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-list-services">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            <div class="panel-heading" role="tab" id="heading4">
                                <h4 class="panel-title">
                                    R$ 27,00 - Yancar Serviços Automotivo
                                </h4>
                            </div>
                        </a>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body">
                                <p>Av. Dr. Arnaldo 1203</p>
                                <p>São Paulo SP</p>
                                <p>01255-000 · Perdizes</p>
                                <p>Telefone: +55 (11) 3672-3163</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-list-services">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            <div class="panel-heading" role="tab" id="heading5">
                                <h4 class="panel-title">
                                    R$ 28,00 - Pneus Rodrigues
                                </h4>
                            </div>
                        </a>
                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                            <div class="panel-body">
                                <p>Av. Prof. Francisco Morato 1449</p>
                                <p>São Paulo SP</p>
                                <p>05513-100 · Butantã</p>
                                <p>Telefone: +55 (11) 3721-6818</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="btn btn-lg btn-primary btn-block btn-search btn-step-1">Pesquisar novo serviço</button>
                    </div>
                </div>

                </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.maskMoney.min.js"></script>
<script src="js/jquery.maskregex.js"></script>
<script src="js/main.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/handlebars.js"></script>
<script src="js/typeahead.bundle.js"></script>
<script src="js/prefetch.js"></script>
</body>
</html>
<!-- <div class="navbar navbar-inverse navbar-padrao navbar-fixed-top" role="navigation" id="slide-nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="#">Kotaki</a>
        </div>
        <div id="slidemenu" class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Minha conta</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Login</li>
                        <li>
                            <form class="navbar-form navbar-right" role="form">
                                <div class="form-group">
                                    <input type="email" placeholder="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="passsword" placeholder="senha" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary">entrar</button>
                            </form>
                        </li>
                        <li class="dropdown-header">Cadastro</li>
                        <li>
                            <form class="navbar-form navbar-right" role="form">
                                <div class="form-group">
                                    <input type="email" placeholder="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="passsword" placeholder="senha" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary">cadastrar</button>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contato</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Fale conosco</li>
                        <li>
                            <form class="navbar-form navbar-right" role="form">
                                <div class="form-group">
                                    <input type="text" placeholder="assunto" class="form-control">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" placeholder="mensagem"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">cadastrar</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div> -->
