html { font-size: 62.5%; }

@media (max-width: 767px) { .navbar-inverse { background-color: #215A6D; border-color: #3CA2A2; }
  .navbar-inverse .navbar-brand { color: #DFECE6; }
  .navbar-inverse .navbar-nav > .active > a { color: #DFECE6; background-color: #3CA2A2; }
  .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus { color: #DFECE6; background-color: #3CA2A2; }
  .navbar-inverse .navbar-nav > li > a { color: #DFECE6; }
  h2 { font-family: Arial; font-size: 22px; font-size: 2.2rem; color: #215A6D; }
  .panel-list-services { background: #DFECE6; border: 1px solid #92C7A3; }
  .panel-list-services.active { background: #3CA2A2; }
  .panel-list-services.active .panel-title { color: #DFECE6; }
  .panel-list-services a { font-family: Arial; font-size: 14px; font-size: 1.4rem; color: #3CA2A2; text-decoration: none; }
  .panel-list-services p { margin-bottom: 3px; }
  .panel-list-services.active a { font-family: Arial; font-size: 16px; font-size: 1.6rem; color: #DFECE6; text-decoration: none; }
  .panel-list-services a:hover, .panel-list-services.active a:hover { text-decoration: none; }
  .panel-body { background: #DFECE6; }
  .panel-body p { font-family: Arial; font-size: 14px; font-size: 1.4rem; color: #215A6D; }
  .panel-title { color: #215A6D; }
  .panel-list-services.active .panel-title { color: #DFECE6; }
  .btn-search, .btn-continue, .btn-primary { color: #DFECE6; background-color: #3CA2A2; border-color: #92C7A3; }
  .btn-search:hover, .btn-continue:hover, .btn-primary:hover { color: #DFECE6; background-color: #3CA2A2; border-color: #92C7A3; }
  .promotion .heading { background: #DFECE6; border: 1px solid #215A6D; margin-bottom: 10px; padding: 6px; border-radius: 4px; }
  .promotion .title { font-family: Arial; font-size: 14px; font-size: 1.4rem; color: #215A6D; }
  .input-group .form-control { z-index: 0; }
  .input-group-btn { vertical-align: top; }
  .input-price { color: #215A6D; }
  .tt-dataset { margin-top: 10px -5; }
  .tt-input { margin-bottom: 20px; font-size: 16px; font-size: 1.6rem; color: #215A6D; border: 1px solid #92C7A3; }
  .tt-suggestion { width: auto; font-family: Arial; font-size: 16px; font-size: 1.6rem; color: #DFECE6; background: #3CA2A2; line-height: 30px; margin: 0 10px; padding: 6px; border: 1px solid #92C7A3; border-radius: 4px; display: inline-block; }
  .input-price { color: #215A6D; border: 1px solid #92C7A3; }
  .input-group-addon { color: #DFECE6; background-color: #3CA2A2; border: 1px solid #92C7A3; }
  body.slide-active { overflow-x: hidden; }
  .no-margin-top { margin-top: 0px !important; }
  #page-content { position: relative; padding-top: 70px; left: 0; }
  #page-content.slide-active { padding-top: 0px; }
  #slide-nav .navbar-toggle { cursor: pointer; position: relative; line-height: 0; float: left; margin: 0; width: 50px; height: 40px; padding-top: 10px; border: 0; background: transparent; }
  #slide-nav .navbar-toggle > .icon-bar { width: 100%; display: block; height: 3px; margin-top: 5px; }
  #slide-nav .navbar-toggle.slide-active .icon-bar { background: #3CA2A2; }
  .navbar-header, .navbar.navbar-fixed-top.slide-active { position: relative; }
  #slide-nav { border-top: 0; }
  #slide-nav .container { margin: 0 !important; padding: 10px !important; height: 100%; }
  #slide-nav .navbar-header { margin: 0 auto; padding: 0 15px; }
  #slide-nav .navbar.slide-active { position: absolute; width: 80%; top: -1px; z-index: 1000; }
  #slide-nav #slidemenu { background: #215A6D; left: -100%; width: 80%; min-width: 0; position: absolute; padding-left: 0px; z-index: 0; top: -8px; margin: 0px; margin-top: 70px; }
  #slide-nav #slidemenu .navbar-nav { min-width: 0; width: 100%; margin: 0; }
  #slide-nav #slidemenu .navbar-nav .dropdown-menu li a { min-width: 0; width: 80%; white-space: normal; }
  #slide-nav.navbar-inverse { border: 0; }
  #slide-nav.navbar-inverse #slidemenu { background: #215A6D; }
  #navbar-height-col { position: fixed; top: 0; height: 100%; bottom: 0; width: 80%; left: -80%; background: #3CA2A2; }
  #navbar-height-col.inverse { background: #215A6D; z-index: 1; border: 0; }
  #slide-nav .navbar-form { width: 100%; margin: 8px 0; text-align: center; overflow: hidden; }
  #slide-nav .navbar-form .form-control { text-align: center; }
  #slide-nav .navbar-form .btn { width: 100%; }
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { color: #DFECE6; background-color: #3CA2A2; }
  .dropdown-header { color: #DFECE6; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header { border-color: #3CA2A2; }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: #3CA2A2; } }
@media (min-width: 768px) { #page-content { left: 0 !important; }
  .navbar.navbar-fixed-top.slide-active { position: fixed; }
  .navbar-header { left: 0 !important; }
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { color: #DFECE6; background-color: #3CA2A2; } }
#second-step, #third-step { display: none; }

/*# sourceMappingURL=main.css.map */
