/* Bootstrap mixin breakpoints*/
/*
    @include bs-xxs {}
    @include bs-xs {}
    @include bs-sm {}
    @include bs-md {}
    @include bs-lg {}
*/
html,
body {
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

html {
  font-size: 62.5%; }

body {
  background: url(../img/bg-ajuda-degrade.svg) no-repeat center center;
  background-size: cover;
  position: relative; }
  .no-svg body {
    background: url(../img/bg-ajuda-degrade.png) no-repeat center center;
    background-size: cover; }
  @media (max-width: 480px) {
    body {
      position: relative;
      overflow: hidden; } }
  @media (min-width: 481px) and (max-width: 767px) {
    body {
      position: relative;
      overflow: hidden; } }

h2 {
  font-family: Arial;
  font-size: 22px;
  font-size: 2.2rem;
  color: #215A6D; }

/* NAVBAR */
.navbar-default {
  background-color: #215A6D;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .navbar-default .navbar-brand {
    color: #fff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #fff; }
  .navbar-default .navbar-nav > .active > a {
    color: #fff;
    background-color: #3CA2A2; }
    .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
      background-color: #3CA2A2; }
  .navbar-default .navbar-nav > li {
    margin-right: 3px; }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:visited {
      color: #fff;
      background-color: #3CA2A2; }

.navbar-default .navbar-toggle {
  border: 0;
  background: none;
  padding: 0;
  margin: 5px 15px; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #92C7A3; }

.navbar-default .navbar-toggle .icon-bar {
  background: #fff; }

.navbar-default .navbar-nav > li {
  margin-right: 0; }

#login-dp {
  min-width: 250px;
  padding: 14px;
  overflow: hidden;
  background: #fff; }
  @media (max-width: 480px) {
    #login-dp {
      background: inherit;
      color: #fff; } }
  @media (min-width: 481px) and (max-width: 767px) {
    #login-dp {
      background-color: inherit;
      color: #fff; } }

#login-dp .help-block {
  font-size: 12px;
  font-size: 1.2rem; }

#login-dp .bottom {
  background: #fff;
  border-top: 1px solid #3CA2A2;
  clear: both;
  padding: 14px; }
  @media (max-width: 480px) {
    #login-dp .bottom {
      background-color: inherit;
      border-top: 0 none; } }
  @media (min-width: 481px) and (max-width: 767px) {
    #login-dp .bottom {
      background-color: inherit;
      border-top: 0 none; } }

#login-dp .social-buttons {
  margin: 12px 0px; }
  #login-dp .social-buttons a {
    width: 49%; }

#login-dp .form-group {
  margin-bottom: 10px; }

.btn-fb {
  color: #fff;
  background-color: #3b5998; }
  .btn-fb:hover {
    color: #fff;
    background-color: #496ebc; }

.btn-tw {
  color: #fff;
  background-color: #55acee; }
  .btn-tw:hover {
    color: #fff;
    background-color: #59b5fa; }

.connected {
  font-size: 12px;
  font-size: 1.2rem;
  color: #000;
  line-height: 20px; }
  @media (max-width: 480px) {
    .connected {
      color: #fff; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .connected {
      color: #fff; } }

.forget-pass {
  font-size: 12px;
  font-size: 1.2rem;
  color: #215A6D; }
  .forget-pass a {
    color: #215A6D; }
    .forget-pass a:hover, .forget-pass a:active, .forget-pass a:focus {
      color: #215A6D; }
  @media (max-width: 480px) {
    .forget-pass {
      color: #fff; }
      .forget-pass a {
        color: #fff; }
        .forget-pass a:hover, .forget-pass a:active, .forget-pass a:focus {
          color: #fff; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .forget-pass {
      color: #fff; }
      .forget-pass a {
        color: #fff; }
        .forget-pass a:hover, .forget-pass a:active, .forget-pass a:focus {
          color: #fff; } }

.join-us {
  font-size: 14px;
  font-size: 1.4rem;
  color: #215A6D; }
  .join-us a {
    color: #215A6D; }
    .join-us a:hover, .join-us a:active, .join-us a:focus {
      color: #215A6D; }
  @media (max-width: 480px) {
    .join-us {
      color: #fff; }
      .join-us a {
        color: #fff; }
        .join-us a:hover, .join-us a:active, .join-us a:focus {
          color: #fff; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .join-us {
      color: #fff; }
      .join-us a {
        color: #fff; }
        .join-us a:hover, .join-us a:active, .join-us a:focus {
          color: #fff; } }

/* NAVBAR */
/* CONTENT */
#page-content {
  left: 0 !important; }

#second-step, #third-step {
  display: none; }

.panel-group .panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

.panel-list-services {
  background: #DFECE6;
  background: #fff;
  border: 1px solid #92C7A3; }
  .panel-list-services.active {
    background: #3CA2A2; }
    .panel-list-services.active .panel-title {
      color: #fff; }
  .panel-list-services a {
    font-family: Arial;
    font-size: 14px;
    font-size: 1.4rem;
    color: #3CA2A2;
    text-decoration: none; }
  .panel-list-services p {
    margin-bottom: 3px; }
  .panel-list-services.active a {
    font-family: Arial;
    font-size: 16px;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none; }
  .panel-list-services a:hover, .panel-list-services.active a:hover {
    text-decoration: none; }

.panel-body {
  background: #fff; }
  .panel-body p {
    font-family: Arial;
    font-size: 14px;
    font-size: 1.4rem;
    color: #215A6D; }

.panel-title {
  color: #215A6D; }

.btn-search, .btn-verde, .btn-primary {
  color: #fff;
  background-color: #3CA2A2;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .btn-search:hover, .btn-verde:hover, .btn-primary:hover {
    color: #fff;
    background-color: #3CA2A2;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }

.form-padrao {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

.promotion .heading {
  background: #DFECE6;
  margin-bottom: 10px;
  padding: 6px; }

.promotion .title {
  font-family: Arial;
  font-size: 14px;
  font-size: 1.4rem;
  color: #215A6D; }

.input-group .form-control {
  z-index: 0; }

.input-group-btn {
  vertical-align: top; }

.input-price {
  color: #215A6D; }

.tt-dataset {
  margin-top: 10px -5; }

.tt-input {
  margin-bottom: 20px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #215A6D;
  border: 1px solid #92C7A3; }
  .tt-input input {
    border: 0; }

.tt-suggestion {
  width: auto;
  font-family: Arial;
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  background: #3CA2A2;
  line-height: 30px;
  margin: 0 10px;
  padding: 6px;
  border-bottom: 2px solid #41996c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  display: inline-block; }
  .tt-suggestion:hover, .tt-suggestion.active:focus, .tt-suggestion:focus {
    color: #fff;
    background: #92C7A3;
    border-bottom: 2px solid #529f78;
    outline: none; }
  .tt-suggestion:active, .tt-suggestion.active {
    color: #fff;
    background: #92C7A3;
    border-top: 2px solid #39865f;
    outline: none;
    outline-offset: none;
    margin-top: 2px; }

.input-price {
  color: #215A6D;
  border: 1px solid #92C7A3; }

.input-group-addon {
  color: #fff;
  background-color: #3CA2A2;
  border: 1px solid #92C7A3; }

body.slide-active {
  overflow-x: hidden; }

.no-margin-top {
  margin-top: 0px !important; }

#page-content {
  position: relative;
  left: 0; }
  #page-content.slide-active {
    padding-top: 0px; }

#slide-nav .navbar-toggle {
  cursor: pointer;
  position: relative;
  line-height: 0;
  float: left;
  margin: 0;
  width: 50px;
  height: 40px;
  padding-top: 10px;
  border: 0;
  background: transparent; }
  #slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin-top: 5px;
    color: #fff; }
  #slide-nav .navbar-toggle.slide-active .icon-bar {
    color: #fff;
    background: #3CA2A2; }

#slide-nav {
  border-top: 0; }
  #slide-nav .container {
    margin: 0 !important;
    padding: 10px !important;
    height: 100%; }
  #slide-nav .navbar-header {
    margin: 0 auto;
    padding: 0 15px; }
  #slide-nav .navbar.slide-active {
    position: absolute;
    width: 80%;
    top: -1px;
    z-index: 1000; }
  #slide-nav #slidemenu {
    background: #215A6D;
    left: -100%;
    width: 80%;
    min-width: 0;
    position: absolute;
    padding-left: 0px;
    z-index: 0;
    top: -8px;
    margin: 0px;
    margin-top: 78px; }
    #slide-nav #slidemenu .navbar-nav {
      min-width: 0;
      width: 100%;
      margin: 0; }
      #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal; }
  #slide-nav.navbar-padrao {
    border: 0; }
    #slide-nav.navbar-padrao #slidemenu {
      background: #215A6D; }

#slide-nav .navbar-form {
  width: 100%;
  margin: 8px 0;
  text-align: center;
  overflow: hidden; }
  #slide-nav .navbar-form .form-control {
    text-align: center; }
  #slide-nav .navbar-form .btn {
    width: 100%; }

/* CONTENT */
/* PROFILE */
#profile-dp {
  min-width: 250px;
  padding: 14px;
  overflow: hidden;
  background: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  @media (max-width: 480px) {
    #profile-dp {
      background: #fff;
      color: #000; } }
  @media (min-width: 481px) and (max-width: 767px) {
    #profile-dp {
      background: #fff;
      color: #000; } }

.dropdown-toggle {
  background: #215A6D !important;
  color: #fff !important; }

.profile-userlittlepic img {
  float: none;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

.profile-usertitle {
  text-align: center;
  margin-top: 20px; }

.profile-usertitle-name {
  color: #3CA2A2;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px; }

.profile-usertitle-job {
  text-transform: uppercase;
  color: #215A6D;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px; }

.profile-usermenu {
  margin-top: 30px; }

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7; }

.profile-usermenu ul li:last-child {
  border-bottom: none; }

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400; }

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px; }

.profile-usermenu ul li a:hover {
  background-color: #DFECE6;
  color: #3CA2A2; }

.profile-usermenu ul li.active {
  border-bottom: none; }

.profile-usermenu ul li.active a {
  color: #3CA2A2;
  background-color: #DFECE6;
  border-left: 2px solid #3CA2A2;
  margin-left: -2px; }

#social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1); }

#social {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s; }

.social-fb:hover {
  color: #3B5998; }

.social-tw:hover {
  color: #4099FF; }

.social-gp:hover {
  color: #d34836; }

.social-em:hover {
  color: #f39c12; }

/* PROFILE */
/* STEPS */
.stepwizard-step p {
  font-family: Arial;
  font-size: 12px;
  font-size: 1.2rem;
  color: #3CA2A2;
  margin-top: 10px; }

.stepwizard-row {
  display: table-row; }

.stepwizard {
  display: table;
  width: 100%;
  position: relative; }

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background: #DFECE6;
  z-index: 0; }

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }

.btn-primary {
  color: #fff;
  background-color: #3CA2A2;
  border-color: #92C7A3; }

.btn-default {
  color: #3CA2A2;
  background-color: #fff;
  border-color: #92C7A3; }

.btn-default:hover {
  color: #fff;
  background-color: #3CA2A2;
  border-color: #92C7A3; }

/* Warning message */
.content-message {
  position: relative; }

.warning-message, .arrow-down-message {
  display: none; }

.warning-message {
  font-family: Verdana;
  padding: 4px 5px 4px 5px;
  position: absolute;
  top: -22px;
  left: 5px;
  background: green;
  width: auto;
  height: 16px;
  text-align: center;
  line-height: 10px;
  font-size: 10px;
  color: white;
  text-shadow: 0 1px #902a27;
  background: #e93631;
  border-radius: 3px; }

.arrow-down-message {
  position: absolute;
  top: -6px;
  left: 15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e93631; }

/* Warning message */
.show {
  display: inline; }

.row #first-step.go-away, .row #second-step.go-away {
  display: none; }
  @media (max-width: 480px) {
    .row #first-step.go-away, .row #second-step.go-away {
      left: -400px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .row #first-step.go-away, .row #second-step.go-away {
      left: -400px; } }

.row #third-step.go-away {
  display: none; }
  @media (max-width: 480px) {
    .row #third-step.go-away {
      left: 0px;
      display: inline; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .row #third-step.go-away {
      left: 0px;
      display: inline; } }

.row #first-step.come-back {
  display: inline; }
  @media (max-width: 480px) {
    .row #first-step.come-back {
      left: 0px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .row #first-step.come-back {
      left: 0px; } }

.row #second-step.come-back {
  display: node; }
  @media (max-width: 480px) {
    .row #second-step.come-back {
      left: 0px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .row #second-step.come-back {
      left: 0px; } }

#first-step {
  z-index: 0; }
  @media (max-width: 480px) {
    #first-step {
      z-index: 3; } }
  @media (min-width: 481px) and (max-width: 767px) {
    #first-step {
      z-index: 3; } }

#second-step {
  z-index: 0; }
  @media (max-width: 480px) {
    #second-step {
      z-index: 2; } }
  @media (min-width: 481px) and (max-width: 767px) {
    #second-step {
      z-index: 2; } }

#third-step {
  z-index: 0; }
  @media (max-width: 480px) {
    #third-step {
      z-index: 1; } }
  @media (min-width: 481px) and (max-width: 767px) {
    #third-step {
      z-index: 1; } }

@media (max-width: 480px) {
  #first-step, #second-step, #third-step {
    background-color: #FFF;
    left: 0;
    transition: left 0.5s; } }
@media (min-width: 481px) and (max-width: 767px) {
  #first-step, #second-step, #third-step {
    background-color: #FFF;
    left: 0;
    transition: left 0.5s; } }

/*# sourceMappingURL=main.css.map */
